.logout
{
	margin-left: 45%;
	font-size: 30px;
}
.password
{
	margin-left: 38%;
	font-size: 30px;
}
#service::before
{
	content: "";
	background-color: red;
	height: 5px;
	width: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	transform: translateY(55px);
}
#service::after
{
	content: "";
	background-color: red;
	height: 10px;
	width: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translateY(8px);
}
table td
{
	border: 5px solid black;
	margin-left: 45%;
}